@use "sass:color";

@function v($var) {
    @return var(--#{$var});
}

$fontSize: 26px;
$font-family: sans-serif;

$color-border: #1d1d1d;
$color-bg: #3D6AF2;
$color-bg-flagged: #215d21;
$color-bg-highlight-primary: #0540F2;
$color-bg-highlight-secondary: #6a98c3;

$color-uncovered-unmined-base: red;
$color-uncovered-mined: black;

$adjacency-degrees: 1,2,3,4,5,6,7,8;

:host {

    --edge-length: 50px;

    z-index: 1;
    display: block;
    width: v(edge-length);
    height: v(edge-length);
    border: 1px solid $color-border;
    background: $color-bg;
    text-align: center;
    font-size: v(edge-length) / 2;
    font-family: $font-family;
    line-height: v(edge-length);

    #cell-content {
        width: v(edge-length);
        height: v(edge-length);
        svg {
            display: block;
            margin: auto;
        }
    }
}

:host([mine=true]){
    background: $color-uncovered-mined;
}

:host([highlighted=true]){
    outline: 1px solid $color-bg-highlight-primary;
    z-index: 2;
}

:host([neighbor-highlight=true]){
    background: $color-bg-highlight-secondary;
}


@each $degree in $adjacency-degrees {
    :host(.adjacency-degree--#{$degree}[covered=false]){
        background: color.scale($color-uncovered-unmined-base, $lightness:  80% - ($degree * 10%) );
    }
}

:host(.adjacency-degree--0[covered=false]){
    background: white;
    border: 1px solid white;
    z-index: 0;
}