$fontSize: 26px;
$font-family: sans-serif;

:host {
    font-size: $fontSize;
    font-family: $font-family;
}

#toolbar-wrapper {
    display: flex;
    flex-direction: row;

    div {
        display: flex;
    }

    div:not(:last-of-type) {
        margin: 0 1em 0 0;
    }
}